@import url("//db.onlinewebfonts.com/c/1467e2d37ec60cc50117a8db7c24f626?family=DS-Digital");

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DS-Digital", sans-serif;
}
body{
    background-color: #000;
}
h1{
    font-size: 5em;
    color: #39ff14;
}
.container{
    max-width: 1200px;
    margin: auto;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    border: 10px solid #39ff14;
    border-radius: 10px;
    min-width: 350px;
    height: 180px;
    padding: 0 10px;
}

.card{
    text-align: center;
    min-width: 90px;
}
.controls{
    margin: 20px;
}

.btn{
    border: 2px solid #39ff14;
    background-color: #000;

    margin: 0 5px;
    min-height: 40px;
    min-width: 80px;
    border-radius: 3px;
    font-size: 1em;
    color: #39ff14;
    cursor: pointer;
    transition: 0.5s all;
}
.btn:hover{
    background-color: #39ff14;
    color: #1A1919;
}
@media (max-width: 480px){
    .box{
        border: transparent;
        height: 100px;
    }
   .btn{
       min-height: 30px;
   }
}